h1 {
  border-color: aqua;
  border-style: double;
  border-width: 8px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  outline-color: bisque;
  outline-width: 8px;
  outline-offset: 5px;
  outline-style: groove;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 300px;
}
h2 {
  border: aqua;
  border-style: double;
  border-width: 5px;
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 50px;
  outline-color: rgb(71, 42, 5);
  outline-width: 5px;
  outline-offset: 5px;
  outline-style: groove;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
}
