/* .myh1 {
  color: aqua;
}
.myh1new {
  color: brown;
  font-size: 50px;
  border: 2px seagreen;
}
.button {
  border: 2px rgb(96, 2, 2);
  padding: 20px;
  font-size: 10px;
} */
.hover {
  border: 2px solid red;
  height: 30px;
  width: 200px;
}
